:root {
    --azul-primario: #2563eb;
    --fundo-claro: #f8fafc;
    --branco-lateral: #ffffff;
    --cor-borda: #e2e8f0;
    --texto-principal: #1e293b;
    --texto-suave: #64748b;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--fundo-claro);
    color: var(--texto-principal);
}

/* Menu Lateral */
.div_menu_lateral {
    width: 260px;
    background: var(--branco-lateral);
    height: 100vh;
    border-right: 1px solid var(--cor-borda);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    left: 0;
}

.div_logotipo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--azul-primario);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn_item_navegacao {
    display: flex;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    color: var(--texto-suave);
    border-radius: 8px;
    margin-bottom: 5px;
    transition: 0.3s;
}

.btn_item_navegacao.ativo {
    background: #eff6ff;
    color: var(--azul-primario);
}

.btn_item_navegacao:hover:not(.ativo) {
    background: #f1f5f9;
}

.btn_item_navegacao i {
    margin-right: 12px;
}

.div_espacador_sair {
    margin-top: auto;
}

.logo-quadrada {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /* mantém proporção */
    border-radius: 10px;
    /* deixa levemente arredondado */
}